<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <b>Автор</b>
    <small>11.11.11</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut dicta dignissimos, doloremque eos error eum eveniet explicabo fuga incidunt, labore maiores molestias numquam omnis quia quibusdam, quidem! Aspernatur cumque deleniti dolores eaque, eligendi eum ipsa itaque magnam porro provident quaerat quia quis quod tempora tenetur unde ut veniam, vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut dicta dignissimos, doloremque eos error eum eveniet explicabo fuga incidunt, labore maiores molestias numquam omnis quia quibusdam, quidem! Aspernatur cumque deleniti dolores eaque, eligendi eum ipsa itaque magnam porro provident quaerat quia quis quod tempora tenetur unde ut veniam, vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut dicta dignissimos, doloremque eos error eum eveniet explicabo fuga incidunt, labore maiores molestias numquam omnis quia quibusdam, quidem! Aspernatur cumque deleniti dolores eaque, eligendi eum ipsa itaque magnam porro provident quaerat quia quis quod tempora tenetur unde ut veniam, vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut dicta dignissimos, doloremque eos error eum eveniet explicabo fuga incidunt, labore maiores molestias numquam omnis quia quibusdam, quidem! Aspernatur cumque deleniti dolores eaque, eligendi eum ipsa itaque magnam porro provident quaerat quia quis quod tempora tenetur unde ut veniam, vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut dicta dignissimos, doloremque eos error eum eveniet explicabo fuga incidunt, labore maiores molestias numquam omnis quia quibusdam, quidem! Aspernatur cumque deleniti dolores eaque, eligendi eum ipsa itaque magnam porro provident quaerat quia quis quod tempora tenetur unde ut veniam, vero.</p>
  </div>
</div>
