<form [formGroup]="form" (ngSubmit)="addPost()">
  <h1>Новый пост</h1>

  <div
    [ngClass]="{invalid: form.get('title').invalid && form.get('title').touched}"
    class="form-control"
  >
    <label for="title">Заголовок:</label>
    <input type="text" id="title" formControlName="title">
    <div
      *ngIf="form.get('title').invalid && form.get('title').touched"
      class="validation">
      <small *ngIf="form.get('title').errors.required">
        Поле обязательно для заполнения
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Контент:</label>
    <quill-editor formControlName="content"></quill-editor>
  </div>

  <div
    [ngClass]="{invalid: form.get('author').invalid && form.get('author').touched}"
    class="form-control"
  >
    <label for="author">Автор:</label>
    <input type="text" id="author" formControlName="author">
    <div
      *ngIf="form.get('author').invalid && form.get('author').touched"
      class="validation">
      <small *ngIf="form.get('author').errors.required">
        Поле обязательно для заполнения
      </small>
    </div>
  </div>

  <button
    class="btn btn-block btn-dark"
    type="submit"
    [disabled]="form.invalid">Отправить</button>
</form>
